<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
{% block body %}
    <h4>Unfortunately, {{ error }}</h4>
{% endblock %}
</body>
</html>
