<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="container">
                <button id="red" style="color: red">red</button>
                <button id="green" style="color: green">green</button>
                <button id="blue" style="color: blue">blue</button>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('script.js?ver=10') }}"></script>
        {% endblock %}
    </body>
</html>
