
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
composer.lock
symfony.lock
/vendor/
dump.rdb
###< symfony/framework-bundle ###
